a {
    text-decoration: none;
}

.counters{
    background: #fff;
    padding: 1rem;
}

.vote,.status,.view {
    width: 5rem;
    height: 4rem;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    strong {
        font-size: 1.5rem;
        display: block;
    }
}

.vote {
    color: green;
}
.status {
    color: #fd7e14;
    &.unanswered {
        border:none;
    }

    &.answered{
        border: 1px solid #fd7e14;
    }

    &.answer-accepted{
        background: #fd7e14;
        color: #fff;
    }

}

